<!DOCTYPE html>
<html>
	<head>
		<title>Парсим с Томитой</title>
		<link href={{url_for("static", filename="styles.css")}} rel="stylesheet">
	</head>
	<body>
	<div class="header-container">
		<div class="head-content">
			<b>Томита - это весело!</b>
	</div>
		<div class="menu">
			<div class="btn-group">
				<a href={{url_for("main")}} class = "not-active">Главная</a>
				<a href={{url_for("about")}} class = "active">О работе программы</a>
			</div>
		</div>
	</div>
	<div class="content-container">
		<p>Тест.</p>
	</div>
	</body>
</html>