<!DOCTYPE html>
<html>
	<head>
		<title>Парсим с Томитой</title>
		<link href={{url_for("static", filename="styles.css")}} rel="stylesheet">
	</head>
	<body>
	<div class="header-container">
		<div class="head-content">
			<b>Томита - это весело!</b>
	</div>
		<div class="menu">
			<div class="btn-group">
				<a href={{url_for("main")}} class = "active">Главная</a>
				<a href={{url_for("about")}} class = "not-active">О работе программы</a>
			</div>
		</div>
	</div>
	<div class="content-container">
		<p>Парсинг согласованных словосочетаний из прилагательного и существительного.</p>
		<p>Для работы введите текст и нажмите кнопку «Извлечь».</p>
		<form action = "extract" method = "post">
		<div class="form-group">
			<textarea input class="form-control"  name = txt id="exampleFormControlTextarea1" placeholder="Введите текст" placeholder=".form-control-lg" cols = 80 rows="10"></textarea>
		</div>
		<button type="submit" class="sub-button">Извлечь</button>
		</form>
	</div>
	</body>
</html>